<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value=
                "require-trusted-types-for 'script'; trusted-types host-app-policy webpack-demo-policy" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>