<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Content-Security-Policy" value=
                "trusted-types host-app-policy" />
                <add name="Content-Security-Policy-Report-Only" value=
                "require-trusted-types-for 'script'; "/>
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>